<div class="info-block">
  <div>
    <h3>Age</h3>
    <p class="value">{{ currentAge }}</p>
  </div>
  <div>
    <h3>Weight</h3>
    <p class="value">{{ weight }}</p>
  </div>
  <div>
    <h3>IBM</h3>
    <p class="value">{{ IBM }}</p>
  </div>
  <div>
    <h3>BMI Status:</h3>
    <p class="value">{{ bmiStatus }}</p>
  </div>
  <div>
    <h3>#Days Trained</h3>
    <p class="value">{{ totalDaysTrained }}</p>
  </div>
  <div>
    <h3>% Days Trained</h3>
    <p class="value">{{ percentageDaysTrained }}%</p>
  </div>
</div>
<div class="weeks-left">
  <h2 (click)="toggleLifeExpectancyChart()">Weeks Already gone: {{ weaksLeft }}</h2>
  <h2 (click)="toggleLifeExpectancyChart()">Weeks Left to Live: {{ weeksLeftToLive }}</h2>
</div>
<!-- Life Expectancy Chart Modal -->
<div *ngIf="isChartVisible" class="modal">
  <div class="modal-content">
    <span class="close-btn" (click)="toggleLifeExpectancyChart()">&times;</span>
    <h3>Life Expectancy Chart</h3>
    <!-- You can add the actual chart here -->
    <app-life-expectancy-chart
      [currentAge]="currentAge"
      [weeksLeftToLive]="weeksLeftToLive">
    </app-life-expectancy-chart>
  </div>
</div>
