/* src/app/training-item/training-item.component.scss */
.training-item {
  background: #333;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  font-family: 'Roboto Mono', monospace;
  text-align: center;
  color: white;
  margin-bottom: 20px;
}

.training-item h3 {
  color: #ff0077;
  text-shadow: 0 0 10px #ff0077;
  margin-bottom: 10px;
}

.training-item p {
  margin: 5px 0;
  font-size: 1.1em;
}
