.logIn {
  display: flex;
  justify-content: space-around; /* Distributes space around items */
  align-items: center; /* Vertically center the items in the container */
  max-width: 80%;
  margin: 0 auto; /* Centers the container horizontally */
  padding: 20px 0; /* Adds some padding above and below the container */
}


button {
  background: var(--button-gradient);
  border: none;
  border-radius: 4px;
  color: var(--panel-text);
  font-family: 'Roboto Mono', monospace;
  font-size: 16px;
  padding: 10px 20px;
  cursor: pointer;
  outline: none;
  box-shadow: 0 4px 8px rgba(0,0,0,0.3);
  text-shadow: 0 0 5px var(--glow), 0 0 10px var(--glow);
  transition: background-color 0.3s, box-shadow 0.3s;
}

button:hover, button:focus {
  background: var(--button-gradient-hover);
  box-shadow: 0 6px 12px rgba(0,0,0,0.5);
}

button:active {
  box-shadow: 0 2px 4px rgba(0,0,0,0.5);
  transform: translateY(2px);
}
